.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 100%;
  background: lightblue;
  border-bottom:2px dashed gray ;
}

a{
  margin: 1%;
}

form{
  box-shadow: 2px 2px gray;
  background: lightgrey;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}
.registerForm{
  
  margin: 5% 0;
  
  justify-content: space-around;
  
  padding: 3%;
  
  border-radius: 25px;
  
}

input, label{
  margin: 1%;
  
}
button{
  margin-top: 4%;
  font-weight: bold;
}

.loginForm{
  border: 2px solid black;
  width: 400px;
  height: 250px;
  margin: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background: lightgrey;
  box-shadow: 2px 2px grey;
}


.propertyCreate{
  padding: 2%;
  margin:4% ;

}